<div class="content_page">
	<div class="page-header">
		<h3>Доставка товара</h3>
	</div>
	<p>Доставка товара производится только по Москве и Московской области.
	<p>Минимальная сумма заказа для доставки — 1000 рублей. При заказе на сумму меньше 1000 рублей доставка не осуществляется.

	<h4>Сроки и время доставки</h4>
	
	<p> Доставка товара осуществляется в срок от 1 до 5 рабочих дней с момента подтверждения заказа и при наличии товара на складе.
		По желанию клиента, товар может быть доставлен в любой другой день, при наличии свободных курьеров или легкового транспорта.
		При отсутствии товара на складе, возможность покупки данного товара и дата доставки оговариваются с менеджерами магазина.
	<div class="alert alert-block">	
		<h4>Внимание!</h4>
		<p> В случае отказа от товара надлежащего качества по причине того, что товар не нравится, не подошел
			и т.п. покупатель оплачивает стоимость доставки.
	</div>
	<h4>Оплата товара</h4>
	<p>	Оплата товара для физических и юридических лиц по Москве и Московской области
		производится только наличными курьеру при доставке товара.
	<p>	Оплата производится только в рублях РФ.
</div>