
<div class="content_page">
<p>Торговый дом «Один» уже много лет успешно работает на российском рынке хозяйственно-бытовых товаров.
<p>У нас Вы найдете большой ассортимент товаров: стремянки, лестницы, бельевые сушилки, гладильные доски,
	шторки и карнизы для ванной, резиновые, ворсовые, грязезащитные коврики и наборы ковриков
	для ванной комнаты и туалета, зеркальные наборы, хромированные аксессуары для ванной, хромированные 
	полки для кухни, сантехника, а также много других товаров.
<p>Мы работаем напрямую с производителями и можем предложить Вам выгодные цены и гибкую систему скидок.
<p>Отгрузка товара производится со склада в Москве.
 Бесплатная доставка товара осуществляется по Москве и Подмосковью.
 При самовывозе предоставляются дополнительные скидки.
 
<h3>Наш товар</h3>
<h4><a href="/category/242010"> Хозтовары </a></h4>

<p><a href="/category/246019">Раскладные</a> <a href="/category/246019">1<a>-,
<a href="/category/247022">2</a>-,<a href="/category/236022">3</a>-секционные
 <a href="/category/237018">лестницы</a> и <a href="/category/241026">трансформеры</a>
 производства "Алюмет", "Эйфель" (Россия), <a href="/category/241028">"Elkop" (Словакия)</a>.

<p>Металлические <a href="/category/236013">оцинкованные</a> и <a href="/category/247016">алюминиевые стремянки</a>
 производства Турции, <a href="/category/248017">"Алюмет"</a>, <a herf="/category/249015">"Эйфель" (Россия)</a>,
 <a href="/category/243012">бытовые стремянки "Eurogold" (Швейцария)</a>,
 <a href="/category/243012">стремянки-табуретки “Odin”</a> производства Китая.

<p><a href="/category/239028">Гладильные доски</a> производителей <a href="/category/242020">России</a> на основе ДСП и фанеры,
 производства <a href="/category/248025">"Gimi" (Италия)</a>, а так же
 производства <a href="/category/218182">«Догрулар»</a> и
 <a href="/category/242022">«Сарайли» (Турция)</a> на основе металлической сетки и моноблока, с тканевым и антипригарным
 покрытием, <a href="/category/244025">сменные чехлы и подрукавники</a>.
 
<p><a href="/category/248029">Бельевые сушилки</a> напольные, настенные, потолочные, инерционные производства <a href="/category/243023">"Gimi" (Италия)</a>,
 <a href="/category/238033">потолочные сушилки - "SNB" (Польша)</a> и <a href="/category/236035">"Лиана" (Россия)</a>,
 <a href="/category/242029">барабанные и раскладные сушилки производства Германии</a> и <a href="/category/246030">прочие</a>.

<p><a href="/category/248035">Грязезащитные, резиновые с рисунком</a> и <a href="/category/238039">ворсовые</a>
 коврики в прихожую.
 <a href="/category/245028">Щетинистое покрытие</a> на тканевой основе. Производство - Россия, Турция, Индия и Китай. 

<h4><a href="/category/239045">Аксессуары для ванной и туалета</a></h4>

<p><a href="/category/244035">Шторы в ванную комнату</a> производство - <a href="/category/249036">Тайвань</a>,
 <a href="/category/244037">Китай</a>, Турция.

 Голографические, тканевые, виниловые шторки разнообразных расцветок.
<p>Прямые и угловые <a href="/category/249039">карнизы для ванной</a> - окрашенные и хромированные, выдвижные и телескопические.
 
<p><a href="/category/237042">Крышки для унитаза</a> мягкие и пластиковые, разных цветов и с рисунками производства Турции,
 Китая и России. <a href="/category/238056">Пластиковые овальные крышки</a>
 производства Белоруссии. Детские мягкие крышки на унитаз. <a href="/category/237044">Сиденья на ванну</a>
 разных цветов фирмы "Лидер" (Турция).

<p><a href="/category/238045">Коврики для ванной комнаты и туалета</a>, различных размеров и цветов,
 из хлопка на резиновой основе. Производство  фирм Турции, Китая и Египта.
 
<p><a href="/category/239049">Мерные коврики</a> шириной 0,65, 0,8 и 1,3 метра в рулонах по 15 метров из полипропилена.
<p> Силиконовые <a href="/category/246040">коврики в ванну</a> и душ.

<p><a href="/category/245042">Пластиковые комоды</a> для ванной комнаты с выдвижными ящиками, однотонные и декорированные, детские комоды, производство - Россия.
<p>Пластиковые <a href="/category/237055">зеркальные наборы</a>, различной комплектации и расцветок.
<p>Угловые пластиковые <a href="/category/238060">полочки в ванную комнату</a> "Прима Нова" фирмы "Ансан".
<p><a href="/category/236001">Хромированные аксессуары</a> для ванной комнаты, туалета и кухни.
 <a href="/category/244007">1-,2-,3-,4-ярусные хромированные полочки</a>, держатели туалетной бумаги, бумажных полотенец
 и дезодоранта, настенные стеклянные и хромированные мыльницы, напольные и настенные ершики для унитаза,
 <a href="/category/247006">крючки для полотенец</a> и многое другое. <a href="/category/237001">Серии "Fable"</a>,
 <a href="/category/244009">"Lider"</a>
 и <a href="/category/247007">прочие</a>, производства Турции и Китая.
</div>