
<div class="content-page" >
	<div class="page-header">
		<h3>Контакты</h3>
	</div>
	<address>
	  <strong>Контактные телефоны:</strong><br>  
			+7(495) 258-50-65<br>
			+7(926)-340-29-40<br>
			+7(909)-646-33-01<br>
	</address>

	<strong>Наш офис и склад расположены по адресу:</strong>
	<address>
		Москва,1-ый Грайвороновский проезд, д.4 (территория ОАО «Индал»)<br>
	</address>
	<p>Время работы: с 10-00 до 18-00 по будним дням. </p>
	<strong>Проезд: </strong>
	<address>
		метро "Текстильщики", автобус №193, маршрутное такси №305м до остановки "1-ый Грайвороновский проезд".<br>
	</address>
	 
	<strong>E-mail:</strong>
	<address>
		<a href="mailto:odin@td-odin.ru">odin@td-odin.ru</a><br>
		<a href="mailto:info@td-odin.ru">info@td-odin.ru</a><br>
	</address>

	<strong>Схема проезда:</strong>
	<br>
	(По клику	откроется подробная карта google)<br>	
	<p><a target="_blank" href="https://maps.google.ru/maps?q=%D0%9C%D0%BE%D1%81%D0%BA%D0%B2%D0%B0,1-%D1%8B%D0%B9+%D0%93%D1%80%D0%B0%D0%B9%D0%B2%D0%BE%D1%80%D0%BE%D0%BD%D0%BE%D0%B2%D1%81%D0%BA%D0%B8%D0%B9+%D0%BF%D1%80%D0%BE%D0%B5%D0%B7%D0%B4,+%D0%B4.4&ie=UTF8&hnear=1-%D0%B9+%D0%93%D1%80%D0%B0%D0%B9%D0%B2%D0%BE%D1%80%D0%BE%D0%BD%D0%BE%D0%B2%D1%81%D0%BA%D0%B8%D0%B9+%D0%BF%D1%80.,+4,+%D0%9C%D0%BE%D1%81%D0%BA%D0%B2%D0%B0,+109518&gl=ru&t=m&z=14">
			<img src="/static/odin/img/map.png" title="Карта проезда (открыть карту google)" alt="Москва,1-ый Грайвороновский проезд, д.4"></a>
</div>