<div id="search_form">
<h1>Добавить новость на сайт</h1>
<HR>

    <form action="/add_news" method="post">
		<table width = "85%">
		<tr><td align = "center">
				Заголовок:
			</td>
			<td>
				<input type="text" size = "50" name="header">
			</td>
		</tr>
		<tr><td align = "center">
				Текст:
			</td>
			<td>
				 <textarea name="text" cols="40" rows="4"></textarea></p>
			</td>
		</tr>
		<tr><td>
				&nbsp
			</td>
			<td align = "right">
				<input type="submit" value="Добавить">
			</td>
		</tr>
		
		</table>
    </form>
</div>