
<div class="content_page">
<p>	<img align="right" src="/static/odin/img/odin.gif" alt = "Логотип Торговый дом ОДИН">

<p><b>Торговый дом «Один»</b> уже много лет успешно работает на российском рынке хозяйственно-бытовых товаров.
 
<p>У нас Вы найдете большой ассортимент товаров: стремянки, лестницы, трансформеры; бельевые сушилки, гладильные доски: экраны, шторки и карнизы для ванной; сиденья на ванну и крышки на унитаз; резиновые, ворсовые, грязезащитные коврики в коридор и наборы ковриков для ванной комнаты и туалета; скатерти и клеенка; зеркальные наборы; хромированные аксессуары для ванной, хромированные полки для кухни, сантехника, а также много других товаров.
 
<p>Мы работаем напрямую с производителями и можем предложить Вам выгодные цены и гибкую систему скидок.
 
<p>Отгрузка товара производится со склада в Москве. Бесплатная доставка товара осуществляется по Москве и Подмосковью от определенного объема заказа. При самовывозе предоставляются дополнительные скидки.
 
<p>Теперь Вы можете оформить заказ через наш сайт. Менеджеры оперативно оформят Вашу заявку и перезвонят для уточнения деталей.
 
 
<h3>Наш товар</h3>
<h4><a href=/category/3>Хозтовары</a></h4>

Раскладные 1-, 2-,3-секционные <a href=/category/3.2>лестницы и трансформеры</a> производства "Алюмет", "Эйфель" (Россия), "Elkop" (Словакия).

Металлические оцинкованные и алюминиевые <a href=/category/3.1>стремянки</a> производства Турции, "Алюмет", "Эйфель" (Россия), бытовые стремянки "Eurogold" (Швейцария), стремянки-табуретки “Odin” производства Китая.

<a href=/category/3.4>Гладильные доски</a> производителей России на основе ДСП и фанеры, производства "Gimi" (Италия), а так же производства «Догрулар» и «Сарайли» (Турция) на основе металлической сетки и моноблока, с тканевым и антипригарным покрытием, сменные чехлы и подрукавники.

<a href=/category/3.5>Бельевые сушилки</a> напольные, настенные, потолочные, инерционные производства "Gimi" (Италия), потолочные сушилки - "SNB" (Польша) и "Лиана" (Россия), барабанные и раскладные сушилки производства Германии и прочие.

Грязезащитные, резиновые с рисунком и ворсовые <a href=/category/3.6>коврики в прихожую</a>. <a href=/category/3.6.1>Щетинистое покрытие</a> на тканевой основе. Производство - Россия, Турция, Индия и Китай.

<h4><a href=/category/4>Аксессуары для ванной и туалета</a></h4>
	
<a href=/category/4.1>Шторы в ванную комнату</a> производство - Тайвань, Китай, Турция. Голографические, тканевые, виниловые шторки разнообразных расцветок.

Прямые и угловые <a href=/category/4.3>карнизы для ванной </a>- окрашенные и хромированные, выдвижные и телескопические.

<a href=/category/4.2.2>Коврики для ванной комнаты и туалета</a>, различных размеров и цветов, из хлопка на резиновой основе. Производство фирм Турции, Китая и Египта.

<a href=/category/4.2.1>Мерные коврики</a> шириной 0,65, 0,8 и 1,3 метра в рулонах по 15 метров из полипропилена.

Силиконовые коврики в ванну и душ.

<h4><a href=/category/5>Пластиковые аксессуары</a></h4>

<a href=/category/5.1>Крышки для унитаза</a> мягкие и пластиковые, разных цветов и с рисунками производства Турции, Китая и России. Пластиковые овальные крышки производства Белоруссии. Детские мягкие крышки на унитаз. Сиденья на ванну разных цветов фирмы "Лидер" (Турция).

<a href=/category/5.2>Пластиковые комоды</a> для ванной комнаты с выдвижными ящиками, однотонные и декорированные, детские комоды, производство - Россия.

Пластиковые <a href=/category/5.5>зеркальные наборы</a>, различной комплектации и расцветок.

Угловые пластиковые <a href=/category/5.3>полочки в ванную комнату</a> "Прима Нова" фирмы "Ансан".

<a href=/category/2>Хромированные аксессуары для ванной</a> комнаты, туалета и кухни. 1-,2-,3-,4-ярусные хромированные полочки, держатели туалетной бумаги, бумажных полотенец и дезодоранта, настенные стеклянные и хромированные мыльницы, напольные и настенные ершики для унитаза, крючки для полотенец и многое другое. Серии "Fable", "Lider" и прочие, производства Турции и Китая.
</div>