{% extends "main_page.html" %}
{% block content %}	
    
    
    <div class="page-header">
	   <h3>Редактируем: {{Item.name}} ({{Item.code}})</h3>
	</div>
	
	
    <form class="form-horizontal" action="/update_node_action/{{Item.key.id}}" method="post" enctype="multipart/form-data">
        <div class="control-group">
            <label class="control-label"> Новое название:</label>
            <div class="controls"> 
                <input class="span" type="text"  name="name" value = "{{Item.name}}">
            </div>    
         </div>   
        <div class="control-group">
            <label class="control-label"> Описание товара:</label>
            <div class="controls"> 
            <textarea id="desc-editor" class="span" name="description" rows="4">{{Item.description}}</textarea>
            <input type="hidden" name="_wysihtml5_mode" value="1">
        </div>      
        <div class="control-group">
            <label class="control-label"> Цена: </label>
            <div class="controls"> 
    			<input class="span" type="number" min="0" name="price" value = "{{Item.price}}">
            </div>   
        </div>      
        <div class="control-group">
            <label class="control-label"> Остаток: </label>
            <div class="controls"> 
    			<input class="span" type="number" min="0" max="10000" name="countOnStock" value = "{{Item.countOnStock}}">
            </div>    
        </div>      
        <div class="control-group">
            <label class="control-label"> Единица измерения:</label>
            <div class="controls"> 
    			<input class="span" type="text" name="unit" value = "{{Item.unit}}">
            </div>    
        </div>      

        <div class="control-group">
            <label class="control-label"> Картинка малая:</label>
            <div class="controls"> 
    			<input class="span" type="text" name="small_image_url" value = "{{Item.small_image_url}}">
            </div>    
        </div>      
        <div class="control-group">
            <label class="control-label"> Картинка большая:</label>
            <div class="controls"> 
                <input class="span" type="text" name="full_image_url" value = "{{Item.full_image_url}}">
            </div>    
         </div>  
        <div class="control-group">
            <div class="controls"> 
                <button class="btn" type="submit">Сохранить</button> 
            </div>    
        </div>    
    </div>
	</form>	
{% endblock %}	