	<div class="control-group">
		<h4>Ваши контактные данные</h4>
	</div>
	<div class="control-group">
        <label class="control-label">Организация</label>
        <div class="controls">
			<input class="span" type="text"  name="org_name">
	</div></div>
	<div class="control-group">
        <label class="control-label">Контактное лицо*</label>
        <div class="controls">
			<input required="required" class="span"
					 type="text"  name="user_name">
	</div></div>
	<div class="control-group">
        <label class="control-label">e-mail</label>
        <div class="controls">
			<input class="span" type="email"  name="user_mail">
	</div></div>
	<div class="control-group">
            <label  class="control-label">Основной телефон*</label>
        <div class="controls">
			<input class="span" required="required" type="tel"  name="user_phone1">
	</div></div>
	<div class="control-group">
            <label class="control-label">Второй телефон</label>
            <div class="controls">
			<input class="span"  type="tel"  name="user_phone2" >
	</div></div>
	<div class="control-group">
            <label class="control-label">
		Адрес доставки*
		</label>
            <div class="controls">
			<textarea  required="required" class="span" name="addr" rows="2"></textarea></p>
	</div></div>
	<div class="control-group">
        <label class="control-label">Примечание</label>
        <div class="controls">
			<textarea class="span" name="remarks"  rows="2"></textarea></p>
	</div></div>
	<div class="control-group">
		<b>Поля, отмеченные звёздочкой (*) обязательны для заполнения</b>
	</div>