{% extends "main_page.html" %}
{% block content %}	
    
    
    <div class="page-header">
	   <h3>Редактируем: {{item.name}} ({{item.code}})</h3>
	</div>
	
	
    <form class="form-horizontal" action="/edit_item/{{item.code}}" method="post" enctype="multipart/form-data">
        <div class="control-group">
            <label class="control-label"> Новое название:</label>
            <div class="controls"> 
                <input class="span" type="text"  name="name" value = "{{item.name}}">
            </div>    
         </div>   
        <div class="control-group">
            <label class="control-label"> Описание товара:</label>
            <div class="controls"> 
            <textarea id="desc-editor" class="span" name="description" rows="4">{{item.description}}</textarea>
            <input type="hidden" name="_wysihtml5_mode" value="1">
        </div>      

		<div class="control-group">

			<table id="prices" class="span6 offset2 table table-hover">
				<thead>
				<tr>
					<th class="span8"> Тип цены </th>
					<th class="span1"> Цена </th>
				</tr>
				</thead>
				<tbody>
				{% for item in price_list %}
					<tr>
						<td>
							{{item.price_name|replace('BIGOPT', 'Крупный опт')|replace('MIN','Минимальная')|replace('RETAIL','Розница') }}
						</td>
						<td>
							<input id = "price_{{item.price_name}}" class="_price"
							 name="price_{{item.price_name}}"
							 value = {{item.value|float}} >
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
		
        <div class="control-group">
            <label class="control-label"> Остаток: </label>
            <div class="controls"> 
    			<input class="span" type="text" name="countOnStock" value = "{{item.CountOnStock}}">
            </div>    
        </div>      

        <div class="control-group">
            <div class="controls"> 
                <button class="btn" type="submit">Сохранить</button> 
            </div>    
        </div>    
    </div>
	</form>	
{% endblock %}	