{% extends "main_page.html" %}

{% block content %}
	<div class="page-header">
		<h3>Оформление заказа</h3>
	</div>


	{% if not items_list %}
		<div class="alert"> К сожалению, Ваша корзина пуста </div>
	{% else %}
		<div class="alert">Проверьте Ваш заказ, контактные данные и нажмите кнопку [Оформить]</div>

		<table class="table table-striped" width=100%>
			<thead>
			<th >
				Название товара
			</th>
			<th >
				Количество
			</th>
			<th>
				Сумма
			</th>
		</thead>
		<tbody>
		{% for item in items_list %}
		<tr>
			<td> {{item.name}} </td>
			<td> {{item.count}} </td>
			<td> {{item.price|float}} руб. </td>
		</tr>
		{% endfor %}
		</tbody>
		</table>
	<hr>


	<p style="margin-top:20px;  margin-bottom:20px"><b>Поля, отмеченные звёздочкой (*) обязательны для заполнения</b></p>

	<form class="form-horizontal"action="send_order" method="POST" enctype="multipart/form-data">

	<div class="control-group">
        <label class="control-label">Организация</label>
        <div class="controls">
			<input class="span" type="text"  name="org_name" value = "{{Order.org_name}}">
	</div></div>
	<div class="control-group">
        <label class="control-label">Контактное лицо*</label>
        <div class="controls">
			<input data-validate-length-range="3" required="required" class="span"
					 type="text"  name="user_name" value = "{{Order.user_name}}">
	</div></div>
	<div class="control-group">
        <label class="control-label">e-mail</label>
        <div class="controls">
			<input class="span" type="email"  name="user_mail" value = "{{Order.user_mail}}">
	</div></div>
	<div class="control-group">
            <label  class="control-label">Основной телефон*</label>
        <div class="controls">
			<input class="span" required="required" data-validate-length-range="8,20" type="tel"  name="user_phone1" value = "{{Order.user_phone1}}">
	</div></div>
	<div class="control-group">
            <label class="control-label">Второй телефон</label>
            <div class="controls">
			<input class="span" data-validate-length-range="8,20" type="tel"  name="user_phone2" value = "{{Order.user_phone2}}">
	</div></div>
	<div class="control-group">
            <label class="control-label">
		Адрес доставки*
		</label>
            <div class="controls">
			<textarea data-validate-length-range="12" data-validate-words="2" required="required" class="span" name="addr" rows="4">{{Order.addr}}</textarea></p>
	</div></div>
	<div class="control-group">
        <label class="control-label">Примечание</label>
        <div class="controls">
			<textarea class="span" name="remarks"  rows="4">{{Order.remarks}}</textarea></p>
	</div></div>

		<button type="submit" class="btn pull-right"> Оформить</button>
	</form>
	{% endif %}
{% endblock %}